<div id="<%= dom_id member %>">
  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= member.phone %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= member.gender %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= member.age %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= member.photo %>
  </p>

  <p>
    <strong>Facebook:</strong>
    <%= member.facebook %>
  </p>

</div>
